@media all and (max-width: 320px) {
.hamburger-menu {
  display: block;
  text-align: center;
  padding: 1rem 4rem 0 0;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 16rem;
  float: none;
  width: 50px;
  background-color: transparent;
  border: none;
  z-index: 100;
}

.hamburger-menu:focus,
.hamburger-menu:active {
  outline: none;
  box-shadow: none;
}

.burger-1, .burger-2, .burger-3 {
  display: block;
  /* position: absolute; */
  width: 30px;
  height: 2px;
  margin-top: 6px;
  border-radius: 30px;
  right: 0;
  margin-right: 25px;
  background: #78f1db;
  -webkit-transition: .3s ease;
  -ms-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  z-index: 100;
}

.burger-1 {
  top: 5px;
}

.burger-2 {
  top: 13px;
}

.burger-3 {
  top: 21px;
}

.burger-1.open, .burger-2.open, .burger-3.open {
  margin-right: 40px;
  position: absolute;
  margin-top: 3px;
  top: 0;
  right: 0;
  -webkit-transition: .3s ease;
  -ms-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  transform-origin: 50% 50%;
  z-index: 100;
}

.burger-1.open {
  height: 2px;
  width: 30px;
  top: 1.5rem;
  left: 0rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  opacity: 100;
}

.burger-2.open {
  opacity: 0;
  display: none;
}

.burger-3.open {
  height: 2px;
  width: 30px;
  top: 1.5rem;
  left: 0rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  opacity: 100;
}
}
