@media all and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  #pointer-ring,
  #pointer-dot {
    display: none;
  }


  section {
    /* max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  min-height: 100vh;
  height: 568px; */
    height: 100vh;
  }

  #mobileOnly {
    display: block;
    position: fixed;
    top: 45%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 0 10px;
    text-align: center;
  }

  .mobileContainer {}

  .hamburger-menu {
    display: none;
  }

  .topNameBox {
    display: none;
  }

  .centerImage {
    display: none;
  }

  .mobileContactList {
    list-style: none;
    display: flex;
    margin: 2rem auto;
    padding: 0 38%;
  }

  .mobileContactList li a {
    padding: 0 10px;
  }

  .navBar {
    display: none;
  }
}

  @media all and (max-width: 414px) {
    body {
      overflow: hidden;
    }

    #pointer-ring,
    #pointer-dot {
      display: none;
    }

    section {
      /* max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    height: 568px; */
      height: 100vh;
    }

    #mobileOnly {
      display: block;
      position: fixed;
      top: 45%;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      padding: 0 10px;
      text-align: center;
    }

    .mobileContainer {}

    .hamburger-menu {
      display: none;
    }

    .topNameBox {
      display: none;
    }

    .centerImage {
      display: none;
    }

    .mobileContactList {
      list-style: none;
      display: flex;
      margin: 2rem auto;
      padding: 0 28%;
    }

    .mobileContactList li a {
      padding: 0 10px;
    }

    .navBar {}
  }

  @media all and (max-width: 375px) {
    body {
      overflow: hidden;
    }

    #pointer-ring,
    #pointer-dot {
      display: none;
    }

    section {
      /* max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    min-height: 100vh;
    height: 568px; */
      height: 100vh;
    }

    #mobileOnly {
      display: block;
      position: fixed;
      top: 45%;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      padding: 0 10px;
      text-align: center;
    }

    .mobileContainer {}

    .hamburger-menu {
      display: none;
    }

    .topNameBox {
      display: none;
    }

    .centerImage {
      display: none;
    }

    .mobileContactList {
      list-style: none;
      display: flex;
      margin: 2rem auto;
      padding: 0 25%;
    }

    .mobileContactList li a {
      padding: 0 10px;
    }

    .navBar {}
  }

  @media all and (max-width: 320px) {
    body {
      overflow: hidden;
    }

    #pointer-ring,
    #pointer-dot {
      display: none;
    }

    section {
      /* max-width: 100vw;
      max-height: 100vh;
      width: 100%;
      min-height: 100vh;
      height: 568px; */
      height: 100vh;
    }

    #mobileOnly {
      display: block;
      position: fixed;
      top: 45%;
      width: 100%;
      left: 50%;
      padding: 0 5px;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }

    .mobileContainer {}

    .hamburger-menu {
      display: none;
    }

    .topNameBox {
      display: none;
    }

    .centerImage {
      display: none;
    }

    .mobileContactList {
      list-style: none;
      display: flex;
      margin: 2rem auto;
      padding: 0 20%;
    }

    .mobileContactList li a {
      padding: 0 10px;
    }

    .navBar {}
  }
}
}
}
