 .projectContainer {
 }

.portfolioProjectInfo,
.paywaivProjectInfo,
.allaboveProjectInfo,
.wowProjectInfo,
.flipperProjectInfo,
.aliumProjectInfo {
  /* transition: .5s ease; */
  /* opacity: 0; */
  display: none;
  position: absolute;
  margin: -20.3rem 0 0 18.8rem;
  /* top: 24rem; */
  /* left: ; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 650px;
  width: 650px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px #78f1db;
}

.projectTitle {
  padding-top: 2rem;
}

.projectBlurb {
  padding-top: 1rem;
  max-width: 80%;
  font-size: 1rem;
  margin: 0 auto;
}

.projectLink {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 200;
  color: #78f1db;
}

.projectLink:hover {
  color: #78f1db;
  text-decoration: underline;
}
.projectComing {
  color: white;
  display: flex;
  padding-top: 35%;
  margin: auto;
  justify-content: center;
}

.projectImg {
  display: block;
  width: 100%;
  height: 100%;
  /* transform: scaleX(1.15); */
  object-fit: cover;
}

.inspiredLink {
  color: #78f1db;
}

.inspiredLink:hover {
  color: white;
}

.projectTech {
  position: absolute;
  /* margin-top: 25%; */
  /* margin: 10rem auto 0; */
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.techTitle {
  color: #78f1db;
  font-weight: 800;
  font-size: 1.5rem;
}

.techList {
  display: inline-block;
  list-style: square;
  text-align: left;
}

.techList li {
  padding: 0 1rem;
}

.techListLink {
  color: #78f1db;
}

.techListLink:hover {
  color: #78f1db;
}

.modalImg {
  display: none;
  height: 650px;
  width: 650px;
  margin-top: 55.99px;
  object-fit: cover;
}

.projectClick {
  display: block;
  width: 100%;
  height: 100%;
}

.projectPreview,
.portfolioPreview,
.paywaivPreview,
.allabovePreview,
.wowPreview,
.flipperPreview,
.aliumPreview {
  display: none;
  z-index: 100;
  margin-top: 3.5rem;
  margin-left: -1.5rem;
  object-fit: cover;
  height: 650px;
  width: 650px;
  filter: brightness(15%);
  /* max-height: 35%; */
  /* max-width: 35%; */
}

.projectImg:hover {
  color: black;
  opacity: .3;
}

.paywaivImg {
  /* object-position: left; */
}

.portfolioImg {
  /* transform: scaleX(1.15); */
}

.paywaivPreview {
  object-position: top;
}

/* ==== CLOSE BUTTON ==== */
.closeModal {
  position: absolute;
  top: -1rem;
  left: 0;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.closeModal:hover {
  color: #78f1db;
  text-decoration: none;
}

/* ==== PROJEC ALT TEXT ==== */
.portfolioAlt {
  color: #78f1db;
}

.paywaivAlt {
  color: rgb(113, 173, 245);
}

.allAboveAlt {
  color: rgb(108, 183, 82);
}

.wowAlt {
  color: rgb(249, 207, 18);
}

.flipperAlt {
  color: #48D1CC;
}

.flipperAlt2 {
  color: #8B2252;
}

.flipperAlt3 {
  color: #FF6103;
}

.aliumAlt {
  color: rgb(218, 211, 193);
}
